.dl-new dt {
	width: 30px;
}

.dl-new dd {
	margin-left: 50px
}

.cap4{
	height:40px;
}
.cap2{
	height:20px;
}

.titleline{
	border-bottom: 2px solid #e5e5e5;
}

.taopp{
	color:#c73e3a;
}

.maoyan{
	color:#c73e3a;
}

.nuomi{
	color:#c73e3a;
}

.point{
	font-size:28px;
	margin-top:10px;
	margin-left:20px;
}

.icon-maoyan{
	width:25px;
	height:25px;
	background-position: 0 0;
	background-image: url("../img/icon_maoyan.jpg");
}
.icon-taopp{
	width:25px;
	height:25px;
	background-position: 0 0;
	background-image: url("../img/icon_taopp.jpg");
}
.icon-nuomi{
	width:25px;
	height:25px;
	background-position: 0 0;
	background-image: url("../img/icon_nuomi.jpg");
}

.a-new{
	margin-left: 4px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
	display:inline-block;
	color: #000;
	text-decoration: none;
}

.a-new:hover, .a-new:focus{
	color: #fff;
	background:#c73e3a;
	text-decoration: none;
	
}

.a-active {
	margin-left: 4px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
	display:inline-block;
	color: #fff;
	background:#c73e3a;
	text-decoration: none;
}


.td7{
	width:70%;
}

.td1{
	width:10%;
	vertical-align:middle !important;
}

.td2{
	width:20%;
	vertical-align:middle !important;
	text-align:center !important;
}

.min-price{
	color:#c73e3a;
	font-size:20px;
}
.more{
	background-color:#c73e3a;
}
