@CHARSET "UTF-8";

.body {
	font-family: "微软雅黑";
}

.index_header {
	position: relative;
	background-color: #c73e3a;
	font-family: "华文行楷";
	color: #fff;
}

.dl-new dt {
	width: 30px;
}

.dl-new dd {
	margin-left: 50px
}

.cap2 {
	height: 20px;
}

.titleline {
	border-bottom: 2px solid #e5e5e5;
}

.taopp {
	color: #c73e3a;
}

.maoyan {
	color: #c73e3a;
}

.nuomi {
	color: #c73e3a;
}

.point {
	font-size: 28px;
	margin-top: 10px;
	margin-left: 20px;
}

.icon-maoyan {
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-image: url("../img/icon_maoyan.jpg");
}

.icon-taopp {
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-image: url("../img/icon_taopp.jpg");
}

.icon-nuomi {
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-image: url("../img/icon_nuomi.jpg");
}

.day-new, .area-new {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.day-new:hover, .area-new:hover {
	color: #fff;
	background: #c73e3a;
	text-decoration: none;
}

.day-new:focus, .area-new:focus {
	color: #fff;
	background: #c73e3a;
	text-decoration: none;
	-moz-outline-style: none;
}

.day-active, .area-active {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
	color: #fff;
	background: #c73e3a;
	text-decoration: none;
}

.td6 {
	width: 60%;
}

.td2 {
	width: 20%;
	vertical-align: middle !important;
	text-align: center !important;
}

.min-price {
	color: #c73e3a;
	font-size: 20px;
}

.more {
	background-color: #c73e3a;
}

.hidden {
	display: none;
}

.nohidden {
	
}

.table-defined td {
	vertical-align: middle !important;
}

.table-defined th {
	background-color: #eaeaea;
}

.a-defined:link, .a-defined:visited {
	color: #000000;
	text-decoration: none;
}

.a-defined:hover {
	color: #000000;
	text-decoration: underline;
}

.choose-head {
	width:45px;
}


.icon-3D {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/3D.ico");
	margin-right:6px;
}

.icon-parking {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/parking.ico");
	margin-right:6px;
}

.icon-wifi {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/Wifi.ico");
	margin-right:6px;
}
.icon-child {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/child.ico");
	margin-right:6px;
}

.icon-traffic {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/traffic.ico");
	margin-right:6px;
}

.icon-3D {
	width: 24px;
	height: 24px;
	background-position: 0 0;
	background-image: url("../img/3D.ico");
	margin-right:6px;
}